@model IEnumerable<LibroVirtual.Models.Curso>

@{
    ViewData["Title"] = "Cursos";
}

<head>
    <script src="~/lib/jquery/jquery.js"></script>
</head>

<h2>Cursos</h2>

<p>
    
</p>
<div class="container">
    <table class="table table-striped" align="center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Letra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Anio)
                </th>
                <th>
                    <a asp-action="Create" class="btn btn-info">Crear Curso</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Letra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Anio)
                    </td>
                    <td>
                        <a asp-action="Index" asp-controller="Asignaturas" class="btn btn-primary" asp-route-id="@item.Id">Ver Info</a>
                        <a data-toggle="modal" data-target="#myModal" class="btn btn-success" onclick="getDataAjax('@item.Id','Cursos/EditAjax')">Editar</a>
                        <a data-toggle="modal" data-target="#myModal2" class="btn btn-danger" onclick="getDataAjax('@item.Id','Cursos/EditAjax')">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar Curso</h4>
            </div>
            <div class="modal-body">
                <form asp-action="Edit">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" name="Id" for="Id" />
                        <input type="hidden" name="Nivel" for="Nivel" />
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="Nombre" class="control-label">Nombre</label>
                                <input for="Nombre" id="Nombre" name="Nombre" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="Letra" class="control-label">Letra</label>
                                <input for="Letra" id="Letra" name="Letra" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="Anio" class="control-label">Año</label>
                                <input for="Anio" id="Anio" name="Anio" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="setDataUser('Cursos/EditCursoAjax')" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Eliminar Curso</h4>
            </div>
            <div class="modal-body">
                <h4 id="parrafo5"></h4>
                <input type="hidden" name="Id" id="Id" />
                <p>¿Está seguro de eliminar este Curso?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="eliminarCurso('Cursos/EliminarCurso')" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#myModal').on('shown.bs.modal', function () {
    })

    $('#myModal2').on('shown.bs.modal', function () { })

    var items;
    
    function getDataAjax(id, action) {
        $.ajax({
            type: "POST",
            url: action,
            data: { id },
            success: function (response) {
                //console.log(response);
                onSuccess(response);
            }
        });
    }

    function onSuccess(response) {
        items = response;
        $.each(items, function (index, val) {
            $('input[name=Id]').val(val.id);
            $('input[name=Nivel]').val(val.nivel);
            $('input[name=Nombre]').val(val.nombre);
            $('input[name=Letra]').val(val.letra);
            $('input[name=Anio]').val(val.anio);
        });
        $.each(items, function (index, val) {
            $("#parrafo5").text(val.nombre);
            $("input[name=Id]").val(val.id);
        });
    }

    function eliminarCurso(action) {
        var id = $('input[name=Id]')[0].value;
        $.ajax({
            type: "POST",
            url: action,
            data: { id },
            success: function (response) {
                if (response = "Delete") {
                    location.reload();
                }
            }
        });
    }

    function setDataUser(action) {
        var id = $('input[name=Id]')[0].value;
        var nivel = $('input[name=Nivel]')[0].value;
        var nombre = $('input[name=Nombre]')[0].value;
        var letra = $('input[name=Letra]')[0].value;
        var anio = $('input[name=Anio]')[0].value;

        if (nombre == "") {
            $("#Nombre").focus();
            alert("Ingrese un Nombre");
        }

        if (letra == "") {
            $("#Letra").focus();
            alert("Ingrese una Letra");
        }

        if (anio == "") {
            $("#Anio").focus();
            alert("Ingrese un Año");
        }

        $.ajax({
            type: "POST",
            url: action,
            data: { id, nivel, nombre, letra, anio },
            success: function (response) {
                if (response = "Save") {
                    location.reload();
                }
            }
        });
    }

</script>